###############################
# Classes e empacotamentos
###############################
## **/*.class
## **/*.jar
## **/*.war
## **/*.ear
## **/*.zip


###############################
# Arquivos de IDEs
###############################
**/.project
**/.settings/**
**/.vscode/**
**/.classpath
**/.tern-project
**/.pydevproject
*.iml
*.iws
*.ipr
out/
.idea/
**/.factorypath


###############################
# Arquivos de SO
###############################
**/*.DS_Store
**/.gitattributes


###############################
# Diretorios
###############################
**/target/**
**/bin/**
**/.sonar/**
**/build/**
**/node_modules/**


###############################
# Logs
###############################
**/*.log